@model BlogApp.ViewModels.BlogViewModel
@{
    ViewBag.Title = "Edit Blog Post - "+Model.Title;
}

<div class="page-header">
    <div class="row">
        <h1>Edit - @Model.Title</h1>
        <hr />
        <div class="col-lg-12">
            <div class="well">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.Partial("_CreateOrUpdate", Model)

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Save" class="btn btn-primary" />
                                @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section head{
    <link href="~/Content/custom.min.css" rel="stylesheet" />
    <script src="~/Scripts/tinymce.min.js"></script>
    <script src="~/Scripts/richeditor.min.js"></script>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function() {
            $("#Title").blur(function() {
                var title = $(this).val();
                if (title) {
                    $("img[data-load='loading']").show();
                    $.ajax({
                        type: "get",
                        url: "/blog/IsBlogNameExists",
                        data: { blogTitle: title }, success: function (result) {
                            if (result.err) {
                                toastr.error("Entered Blog Title already exists. Please enter another one");
                            }
                        }
                    });
                    $("img[data-load]").hide();
                }
            });
        });
    </script>
}
